@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #d8e3e8;
    font-family: "Poppins", sans-serif;
}

header h1 {
    color: #14bdac;
    margin-bottom: 10px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #9e9fa0;
    border-radius: 10px;
}

p {
    padding: 8px;
    font-weight: bold;
}

.info > p {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
}

.stats p {
    width: 200px;
    margin: 20px 5px 0;
    border: 1px solid #a4a4a5;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    border: none;
    background-color: inherit;
    color: #14bdac;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    border-radius: 10px;
}